@charset "UTF-8";
@import url(font-awesome.min.scss);
@import url(reset.scss);
@import url(grid.scss);
@import url(basic.scss);
@import url(type.scss);
@import url(widgets.scss);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");

/*
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/



/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}







